body{
    align-items: center;
    display: flex;
    padding: 1em;
}

.container{
    position: relative;
    box-shadow: 0px;
    height: 720px;
    width: 600px;
    background-color: rgb(226, 230, 235);
}

.event{
    position:absolute;
    display: flex;
    flex-direction: column;
    padding: 3px;
    margin: 3px;
    color: rgb(49, 49, 146);
    box-sizing: border-box;
    font-size:small;
    background-color: rgb(255, 255, 255);
    border-left: 4px rgb(49, 49, 146) solid;
}

.hours{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    color:rgb(20, 19, 19);
    margin: 0;    
    height: 720px;
}

.hours p{
    margin: 0;  
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 0.3rem;
    color:rgb(85, 73, 73);
}

span{
    color:rgb(85, 73, 73);
    margin-left:0.5em;
    justify-self: end;
    font-size: x-small;
}



